QLineEdit {
    padding: 10px;
    font-size: 16px
}

QComboBox {
    padding: 10px;
    font-size: 16px
}

QGroupBox {
    padding: 20px
}

QPushButton {
    background: blue;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px
}